@import "tailwindcss";

@theme inline {
  /* colors */
  --color-primary: #4a69e2;
  --color-secondary: #232321;
  --color-light-white: #fafafa;
  --color-yellow: #ffa52f;
  --color-light-gray: #e7e7e3;

  /* fonts */
  --font-rubik: var(--font-rubik);
  --font-open-sans: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-rubik);
  box-sizing: border-box;
  overflow-x: hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
