@import "tailwindcss";

@theme inline {
  /* colors */
  --color-primary: #4a69e2;
  --color-secondary: #232321;
  --color-light-white: #fafafa;
  --color-yellow: #ffa52f;
  --color-light-gray: #e7e7e3;

  /* fonts */
  --font-rubik: var(--font-rubik);
}

body {
  font-family: var(--font-rubik);
  box-sizing: border-box;
  overflow-x: hidden;
}
